.header {
    text-align: center;
    font-weight: bold;
}

.quizDescription {
    text-align: center;
    font-size: larger;
    width: 500px;
}

#startButton {
    width:200px;
}

.answer {
    width: 370px;
    background-color: rgb(174, 252, 255);
}

.score {
    text-align: center;
    font-weight: bold;
}

.highScore {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    width: 200px;
}

.answers {
    width:370px;
}

